In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/Exercise/titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df=df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')

In [5]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [6]:
df['Age'].fillna(df['Age'].mean(),inplace=True)

In [7]:
gender=pd.get_dummies(df['Sex'],drop_first=True)

In [8]:
df['Gender']= gender

In [9]:
df=df.drop('Sex',axis='columns')

In [10]:
df.head()

   Survived  Pclass   Age     Fare  Gender
0         0       3  22.0   7.2500       1
1         1       1  38.0  71.2833       0
2         1       3  26.0   7.9250       0
3         1       1  35.0  53.1000       0
4         0       3  35.0   8.0500       1

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x=df[['Pclass','Age','Fare','Gender']]

In [13]:
y=df['Survived']

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=0)

In [15]:
from sklearn import tree

In [16]:
model=tree.DecisionTreeClassifier()

In [17]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [18]:
model.score(x_test,y_test)

0.7728813559322034

In [22]:
model.predict([[3,22,8,0]])

array([0], dtype=int64)